body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header h1 {
  color: red;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  color: red;
}

.user-control {
  display: flex;
  align-items: center;
}

.user-control input {
  padding: 0.5rem;
  width: 8rem;
}

.user-control img {
  width: 3rem;
  border-radius: 100%;
  border: 2px solid black;
}

/*...main...*/

main {
  display: block;
  width: 95%;
  align-items: center;
  padding: 4.5rem 1.5rem;
  margin: 0 auto;
  aspect-ratio: 15/4;
  border: 2px solid black;
}

main h2 {
  display: flex;
  color: blacK;
  margin-top: 0;
}

.star-rating i {
  color: red;
  font-size: 1rem;
  cursor: pointer;
}

.rating-value {
  display: inline;
  flex-direction: row;
  align-items: flex-start;
}

.age {
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.3rem 0.4rem;
  margin: 0 1rem;
}

.duration {
  font-weight: bold;
}

p {
  color: black;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin-right: auto;
}

.movie-substance span {
  color: red;
  font-weight: bold;
}

button {
  border: 2px solid rgb(154, 6, 6);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  background-color: red;
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 0.5rem;
}

button:hover {
  background-color: #911818;
  cursor: pointer;
}

/*... section ...*/

section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
}

.movies-suggestion-container .header{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.movie-list {
    display: flex;
    justify-content: space-between;
}

.movie-card {
    border: 2px solid black;
    width: 30%;
    padding: 1rem 0.5rem;
}

.movies-suggestion-container .age{
  margin-left: 0;
}

.movies-suggestion-container button {
  font-size: .8rem;
  padding: 0.5rem 1.5rem 0.5rem 0.4rem;
  margin-top: 0.8rem;
}

/*...footer...*/

footer {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  padding: 1.2rem;
}

footer div:first-child {
  width: 60%;
}

.text {
  margin-top: 1rem;
}

footer p {
  margin-top: 0;
  width: 110%;
}

.follow-button:hover {
  color:rgb(154, 6, 6)
}

.click-apps:hover {
  color: #911818;
}

footer nav {
  display: flex;
  gap: 3rem;
}

footer nav a {
  text-decoration: none;
  color: black;
}

footer nav a:hover {
  color: #911818;
}

.store {
  width: 5rem;
  aspect-ratio: 3/1;
  background-image: url(./assets/Icons-App-Store-Google-play.png); 
  background-size: cover;
  background-repeat: no-repeat;
}

.play {
  background-position: 0 -1.6rem;
}

@media (max-width:650px) {
  header {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  header nav {
    order: 2;
    justify-content: space-between;
    width: 100x;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer div:first-child {
      width: 95%;
  }

  footer nav {
    justify-content: center;
    width: 100px;
  }
}
